<%= form_for( @family, :html=>{:multipart=>true} ) do |f| %>
<div class="row">

<div class="col-md-3"></div>

<div class="col-md-6">
  <div class="form-group">
    *<%= f.label :name %>
    <%= f.text_field :name, :autofocus=>true, :required => true, :class=>"form-control  textfield-border" %>
  </div>
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.cl_image_upload :photo %>
  </div>
  <div class="button-center">
    <%= f.submit :class=>"btn btn-primary"%>
  </div>
</div>

<% end %>

<div class="col-md-3"></div>

</div>
