
<tr>
  <!-- data -->
  <td><%= family.name%></td>
  <% if !family.photo.nil? %>
    <td><%= cl_image_tag family.photo, :class=>"img-responsive table-view" %></td>
  <% end %>
  <td><%= link_to "Edit", edit_family_path(family.id), :class=>"btn btn-primary" %></td>
</tr>
