<h1>Edit family</h1>
<% if @family.errors.any? %>
  <ol>
  <% @family.errors.full_messages.each do |msg| %>
    <li class="bg-danger"><%= msg %></li>
  <% end %>
  </ol>
<% end %>

<%= form_for @invite , :url => invites_path do |f| %>
    <%= f.hidden_field :family_id, :value => @family.id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
<% end %>

<!-- <%= render :partial=>"form" %> -->
