<h1>All families</h1>
<!-- heading -->
<div class="col-md-3"></div>

<div class="col-md-6">

  <table class="table table-striped table-hover">
    <%= render :partial=>"header"%>
    <% @families.each do |family| %>
      <%= render :partial=>"show", :locals=>{family: family} %>
    <% end %>
  </table>

</div>

<div class="col-md-3"></div>
