<h1>New family</h1>
<% if @family.errors.any? %>
  <ol>
  <% @family.errors.full_messages.each do |msg| %>
    <li class="bg-danger"><%= msg %></li>
  <% end %>
  </ol>
<% end %>

<%= render :partial => "form" %>
